@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}
.home {
    right: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
}
.home header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index: 1000;
    display:flex;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.home video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity:0.8;
}
.text{
    position: relative;
    z-index: 10;
    color: white;
}
.text h2{
    font-size:4em;
    font-weight:700;
    line-height: 1em;
    text-transform:uppercase;
    color: white;
}
.text h3{
    font-size:3em;
    font-weight:600;
    line-height: 1em;
    text-transform:uppercase;
    color: white;
}
.text a {
    display: inline-block;
    font-size:1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color:black;
    margin-top:10px;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition:0.2s;
}
.text a:hover {
    color:greenyellow;
    transition: 0.2s;
}
