@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}
.home {
    right: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
}
.home header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index: 1000;
    color: green;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.home video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity:0.8;
}
.text{
    z-index: 10;
    color: #071e33;
}
.text h2{
    font-size:4em;
    font-weight:700;
    line-height: 1em;
    text-transform:uppercase;
    color: #071e33;
}
.text h3{
    font-size:3em;
    font-weight:600;
    line-height: 1em;
    text-transform:uppercase;
    color: #071e33;
}
.text a {
    display: inline-block;
    border-radius: 5px;
    font-size:1em;
    border: 1px solid #071e33;
    padding: 20px 30px;
    text-decoration: none;
    color:#071e33;
    margin-top:10px;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition:0.2s;
}
.text a:hover {
    color:greenyellow;
    transition: 0.2s;
    border: 1px solid greenyellow;
}

/*
school
*/

.school header{
    margin-top:10px;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.sctext a {
    display: inline-block;
    font-size:1em;
    border: 1px solid #9b59b6;
    padding: 20px 30px;
    text-decoration: none;
    color:#9b59b6;
    margin-top:10px;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition:0.2s;
}
.sctext a:hover {
    color:greenyellow;
    transition: 0.2s;
    border: 1px solid greenyellow;
}

.page1 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px ;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3 ease;
}

form .category label .dot{
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 10px;
 background: #d9d9d9;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one
#dot-2:checked ~ .category label .two
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #d9d9d9;
}
form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #d9d9d9;
}

form .button input:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
